.libs/
**/*.o
**/*.lo
**/*.la
**/*.so
**/*.slo
**/debian/debhelper-build-stamp
**/debian/files
**/debian/mod-mermaid.substvars
**/debian/mod-mermaid/
**/*.deb
**/*.buildinfo
**/*.changes
**/*.dsc
**/*.tar.gz
**/*.tar.xz